.wrapper-modal-batch-product {
    width: 800px;

    .table-product {
        width: 100%;

        .table-title {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    .min-stock-product {
        text-align: center;
    }
}
