.wrapper-approve {
    width: 100%;

    .title-approve {
        margin-top: 200px;
        margin-bottom: 20px;
    }
}

.table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-end;

    .my-table {
        width: 100%;
    }
}
